*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

.container .container__wrapper {
  max-width: 940px;
  margin: 10px auto;
}

.wrapper {
  background: rgb(236, 236, 236);
  margin: 0 20px 20px 20px;

}

body {
  min-width: 480px;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
}

.header__lang {
  max-width: 940px;
  margin: 10px auto;
}

.lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.lang__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  padding: 1px;
}

.lang__item {
  border: none;
  border-radius: 3px;
  width: 35px;
  height: 20px;
  background: rgb(247, 247, 247);
  color: rgb(127, 127, 127);
}

.lang__item.lang__item--active {
  background: rgb(95, 95, 95);
  color: rgb(247, 247, 247);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
  left: 1%;
  border: 10px solid rgb(236, 236, 236);
  background: rgb(150, 150, 150);
  border-radius: 50%;
  width: 240px;
  height: 80px;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.header__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid: 20px;
  margin: 10px 0 0 50px;
}

.span__lorem {
  margin: 5px;
  cursor: pointer;
  font-size: 13px;
  transition: color 0.2s ease;
}

.span__lorem:hover {
  color: rgb(78, 139, 158);
}

.info__item {
  display: flex;
  align-items: start;
}

span {
  color: rgb(98, 98, 98);
}

.cirle__icon {
  width: 15px;
  height: 15px;
  background: rgb(150, 150, 150);
  border-radius: 50%;
  position: relative;
  margin: 6px 0 0 0;
}

.cirle__icon::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 0 50% 50% 0;
  clip-path: polygon(50% 50%, 100% 60%, 100% 80%);
}

.menu {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid white;
  border-radius: 2px;
  background: rgb(97, 97, 97);
}

.menu__block {
  flex: 1 1 auto;
  text-align: center;
  border-right: 1px solid rgb(251, 251, 251);
  transition: 0.2s ease;
}

.menu__block:hover {
  background: rgb(169, 169, 169);
  color: white;
}

.menu__block--text {
  cursor: pointer;
  font-size: 15px;
  color: rgb(237, 237, 237);
}

.menu__block--mobile {
  display: none;
}

.form {
  display: flex;
  justify-content: space-between;
  background: rgb(204, 204, 204);
  color: rgb(76, 76, 76);
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.form__wrapper {
  max-width: 250px;
  margin: 0 20px;
  height: auto;
}

.form__blocks {
  display: flex;
}

.form__input--primary {
  min-width: 305px;
  height: 30px;
}

.form__input--secondary {
  min-width: 120px;
  height: 30px;
  margin: 0 10px 0 0;
}

.form__title {
  font-size: 17px;
  margin: 5px 0 0 0;
}

.title__span {
  font-size: 25px;
}

label {
  font-size: 11px;
  margin: 0 0;
  color: rgb(83, 83, 83);
}

.label__camelcase {
  font-size: 15px;
  color: rgb(83, 83, 83);
}

.form {
  margin: 20px 0;
  border-radius: 3px;
}

.form__block {
  display: flex;
  flex-direction: column;
}

input {
  cursor: pointer;
  border: 2px solid rgb(111, 111, 111);
}

.form__article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(238, 238, 238);
  box-shadow: 1px 4px 5px rgb(150, 150, 150);
  border-radius: 3px;
  max-width: 250px;
  padding: 0;
  margin: 40px;
  height: 180px;
}

.article__text {
  margin: 100px;
}

.article__text {
  font-size: 12px;
  margin: 15px;
}

.article__text.article__text--bold {
  font-weight: 700;
}

.button.button__more {
  margin: 0 50px 15px 50px;
}

.button.button__submit {
  margin: 10px 0;
}

.button.button__submit,
.button.button__more {
  background: rgb(0, 108, 134);
  color: rgb(239, 244, 245);
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 24px 0;
  gap: 24px;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card__image {
  background: rgb(150, 150, 150);
  height: 160px;
  border-radius: 3px;
}

.card__info {
  padding: 0 20px;
  font-size: 12px;
}

.card__h3--lorem {
  font-size: 15px;
  margin: 11px 0 0 0;
}

.card__paragraph--lorem {
  font-size: 11px;
  margin: 0 0 11px 0;
}

.squares {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 22px;
}

.squares__square {
  background: rgb(110, 110, 110);
  width: 137px;
  height: 100px;
}

.squares__square--more {
  display: none;
}

.rectangles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  background: rgb(114, 114, 114);
  padding: 30px;
  border-radius: 5px;
  margin: 30px auto;
}

.rectangles__rectangle--white,
.rectangles__rectangle {
  width: 100%;
  height: 40px;
}

.rectangles__rectangle {
  background: rgb(204, 204, 204);
}

.rectangles__rectangle--white {
  background: white;
}